numpy
pandas
streamlit
pandas_profiling.ProfileReport
streamlit_pandas_profiling
matplotlib.pyplot
plotly.graph_objs
seaborn
sklearn.cluster.KMeans
streamlit.components.v1
sweetviz
codecs
streamlit_plotly_events
